body {
  background-color: grey;
}

.movie_title {
  color: black;
  font-weight: 800;
}

.App {
  overflow: auto;
}

.poster_img {
  width: 200px;
}

.picture_cont {
  display: flex;
}

.indiv_div {
  margin: 5px;
  box-shadow: 2px 2px 5px grey;
  padding: 5px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

.LoadButton {
  padding: 5px 0px 5px 0px;
  width: 10%;
  text-align: center;
  border-radius: 10px;
  font: bold, 20px;
  background: gray;
  margin-left: 50%;
  border: 1px solid black;
  position: fixed;
  bottom: 10px;
}

.details {
  margin-left: 30%;
  width: 50%;
}

.center {
  margin-left: 250px;
}