body {
  background-color: #282c34;
}

.link {
  text-decoration: none;
}

.movie_title {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 10px;
  text-align: center;
  color: white;

}

.App {
  overflow: auto;
}

.picture_cont {
  display: flex;
}

.indiv_div {
  margin: 5px;
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
}

h1 {
  color: white;
}

.LoadButton {
  padding: 5px 0px 5px 0px;
  width: 10%;
  text-align: center;
  border-radius: 10px;
  font: bold, 20px;
  background: gray;
  margin-left: 50%;
  border: 1px solid black;
  bottom: 10px;
}

.details {
  padding: 20px;
  width: 100%;
  /* border: 1px solid white */
}

.title-cont {
  margin-left: 20px;
}

.poster_img {
  width: 170px;
  border-radius: 10px;
}

.movie_details {
  word-spacing: 2px;
  padding: 10px;
  color: white;
  font-size: 12px;
}

.movie_details b {
  font-size: 12px;
}

.fade {
  color: grey;
  font-size: 10px;
}

.poster_div {
  display: flex;
  /* gap: 20px; */
  align-items: center;
}

.header_cont {
  width: 100%;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.header_item {
  margin-top: 5%;
  width: 50%;
}

.header1 {
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.input_cont {
  width: 70%;
  background-color: #282c34;
  border: 1px solid white;
  padding: 5px 0px 5px 0px;
  border-radius: 10px;
  margin-top: 50px;
}

input {
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  border: none;
  background-color: #282c34;
  color: white;
}

input:focus {
  border: none;
}

.search_button {
  width: 16%;
  margin-left: 10px;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  background-color: grey;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.header_add {
  text-align: center;
  color: white;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
}
.cast{
  margin-top: 20px;
  background-color: #4b5b790c;
}

.cast_details {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  width: 100%;
}

.item_cast {
  padding: 5px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cast_profile {
  width: 40%;
  border-radius: 50px;
  margin-left: 20px;
}
.side_details{
  width: 60%;
  margin-left: 20px;
  font-size: 15px;
}