body{
  background-color: grey;
}
.movie_title {
  color: black;
  font-weight: 800;
}

.App {
  overflow-x: auto;
}

.poster_img {
  width: 200px;
}

.picture_cont {
  display: flex;
}

.indiv_div {
  margin: 5px;
  box-shadow: 2px 2px 5px grey;
  padding: 5px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

.LoadButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  background: black;
  color: white;
  font-weight: 600;
  margin-left: 50%;
}
.details{
  margin-left: 30%;
  width: 50%;
}
.center{
  margin-left: 250px;
}